@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
html{
    scroll-behavior: smooth;
} 
/* hero section */
#main .container-fluid{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.hero{
    text-align: center;
    color: #fff;
    
}
.ero div{
    margin: 20px;
}
.mouse{
    margin: 100px;
}
/* about us section */

.us p{
    font-size: 10px;
}
.us h1{
    font-size: 18px;
    text-transform: uppercase;
    
}
.us{
    text-align: center;
    margin: 27px;
}
