@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
html{
    scroll-behavior: smooth;
} 
/* hero section */
#main .container-fluid{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.hero{
    text-align: center;
    color: #fff;
    margin-top: 88px;
    
    
}
.hero h1{
  font-size: 25px;
}
.hero p{
  font-size: 10px;
  font-weight: 700;
}
.ero div{
    margin: 15px;
}
.mouse{
  margin-top: 120px;
    
}
/* about us section */

.us p{
    font-size: 10px;
}
.us h1{
    font-size: 18px;
    text-transform: uppercase;
    
}
.us{
    text-align: center;
    margin: 27px;
}
/* services section */
#services .container-fluid{
    background-image: url("/assets/backgrounds/s_image.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
   
    background-size: cover;

}
.service p{
    color: #fff;
    font-size: 9px;
    text-align: center;
}
.service h1{
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}
.service{
    position: relative;
    top: 8%;
    

}
/* what we do section */
.what-we-do{
  
  text-align: center;
  padding-top: 40px;

}
.what-we-do .headings{
  padding-bottom: 20px;
  font-size: 18px;
}
#design, #development, #product{
  display: none;
  
}
#wedo p{
  font-size: 10px;

}
.title{
  font-size: 12px;
}
/* portfolio section */
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%; 
  
}

.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
  font-size: 18px;
  
}
#overlay{
  position: absolute;
  /* background-color: rgba(116, 100, 100, 0.4); */
  color: crimson;
  display: none;
  font-weight: 900;
  
  
 
 
font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* contact us */

.contact{
    background-image: url("/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 18px;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 50px;
  }
  .contact h3{
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
  }
  .contact .detail{
   margin-top: 10px;
  }
  #name{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    width: 25%;
    height: 20px;
  }
  #email{
    width: 25%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    margin-left: 30px;
    height: 20px;
  }
  #message{
    background-color: transparent;
    border: 1px solid white;
    height: 150px;
    width: 50%;
    margin-top: 20px;
  }
  #btn{
    background-color: green;
    color: #fff;
    height: 33px;
    border-radius: 5px;
   
    margin: 10px;
   
  }
  #btn:hover{
    background-color: rgb(32, 38, 41);
    color: aqua;
  }
  #clear{
    background-color: crimson;
    color: #fff;
  }
  #clear:hover{
    background-color: #fff;
    color: crimson;
  }
  .detail::-webkit-input-placeholder {
    color: white;
    
  }
  /* social links */
  #sociol .container-fluid{
      display: flex;
      justify-content: center;
      align-items: center;
  }
.links li{
    display: inline-block;
    padding: 5px;
}
.copyright{
    text-align: center;
}
.links{
    margin-top: 20px;
}
.card{
  border: 1px solid #fff;
}
